<section class="bg-light" id="team">
        <div class="container">
            <div class="row">

                    {% for item in teams %}
                        <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{{item.photo.url}}">
                        <h4>{{item.name }}</h4>
                        <p class="text-muted">{{item.job}}</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="{{ item.twitter_link }}"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="{{ item.facebook_link }}"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="{{ item.instagram_link }}"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                    {% endfor %}
            </div>

        </div>
    </section>